.createQuiz-page h4 {
    font-size:xx-large;
    color: rgb(194, 201, 247);
}

.quiz-div input {
    background-color:rgb(203, 205, 205);
	border-bottom: .2em solid #646263;
    border-left: none;
    border-top: none;
    border-radius: 9px;
    width: 150px;
    height: 40px;
    margin: 5px;
    color: rgb(97, 94, 94);
    padding-left: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* .quiz-div button {
    border-radius: 5px;
    border: none;
    height: 40px;
    margin: 5px;
    background-color: rgb(234, 242, 242);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 1px;
    color: black;
} */

.buttons-style {
    margin: 10px;
    border: none;
    width: 200px;
    height: 40px;
    background-color: rgb(250, 65, 65);
}
.center-position{
    color: white;
}
.mapbox{
    height: 400px;
    width: 600px;
    border-radius: 70px;
}